# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
dist/
build/
out/

# Cache
.cache/
.temp/
.tmp/

# Testing
coverage/

# Local development
.local/
